.contact-section {
  padding-top: 150px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact-header {
  font-size: 3rem;
  margin-bottom: 30px;
  animation: fadeInUp 0.6s ease-in-out;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  animation: fadeInUp 0.6s ease-in-out;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #292738;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #bbb;
}

.contact-form button {
  background-color: #7674ff;
  color: white;
  padding: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.contact-form button:hover {
  transform: scale(1.03);
}
