nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  background-color: #140a2f;
}

nav > :last-child {
  margin-right: 100px;
}

nav li {
  display: inline;
  padding: 0px 4px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: rgba(209, 209, 209, 0.518);
  font-weight: 400;
  transition: color 0.3s ease;
  font-size: 20px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.12em;
  left: 0;
  bottom: -5px;
  background-color: #7674ff;
  transition: 0.5s;
}

.nav-links a:hover, a.active {
  color: rgb(255, 255, 255);
}

.nav-links a:hover::after, a.active::after {
  width: 100%;
  transition: 0.15s ease-in;
}

.nav-logo a {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 50px;
  color: #ffffff;
  transition: 0.3s ease;
}

.nav-logo a:hover {
  color: #7674ff;
}